/* Error: expected "{".
 *     ,
 * 177 | @media (max-width:800px) dl{margin-left:0 !important}
 *     |                          ^
 *     '
 *   src/styles/preview/style1.scss 177:26  @import
 *   src/styles/preview/index.scss 3:13     root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 177 \2502  @media (max-width:800px) dl{margin-left:0 !important}\a     \2502                           ^\a     \2575 \a   src/styles/preview/style1.scss 177:26  @import\a   src/styles/preview/index.scss 3:13     root stylesheet';
}
